<!DOCTYPE html>
<html>

<head>
  <title>
    Buttons - Tronic247 Material
  </title>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.body.style.display = "block";
    });
  </script>
  <link rel="shortcut icon" href="../../logo.svg" />
  <meta name="title" content="Buttons - Tronic247 Material" />
  
  <meta name="description" content="The documentation for Buttons" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet" />
  <meta name="keywords"
    content="Material design, material-design-framework , jquery material design, best material-design framework" />
  <meta name="theme-color" content="#1976d2" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <meta name="manifest" content="manifest.json" />
  <meta name="revisit-after" content="2 days" />
  <meta name="author" content="Tronic247" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tronic247/material/dist/material.min.css" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha" />
</head>

<body class="container-fluid p-0 m-0">
  <header class="appbar primary elevating"
    style="transition: none !important;position: sticky;top: 0;overflow: visible !important;" id="appbar">
    <div class="left">
      <a href="../.." class="title color-dark-1">Tronic247 Material</a>
    </div>
    <div class="right">
      <div id="docsearch">
        <input class="appbar-input mr-4" placeholder="Search" id="search" />
      </div>
      <a href="../../components/alerts/" class="btn hide-on-mobile text">
        Components
      </a>
    </div>
  </header>

  <!-- Adsense ad -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8836219589547174" data-ad-slot="1318634450"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  
<article class="container-fluid">
	<div class="row">
		<aside class="col-4 col-lg-2">
			<div class="list small" style="border-right: 1px solid #e6e6e6;border-bottom: 1px solid #e6e6e6;margin-left: -10px;">
				
				 
				<a class="item ripple-e " href="../../getting-started/">
					Getting started
				</a>
				  
				<p class="ms-2 color-dark-6">Components</p>
				
				<a class="
			item ripple-e
			
			" href="../alerts/">
					Alerts
				</a>
				
				<a class="
			item ripple-e
			
			" href="../appbars/">
					Appbars
				</a>
				
				<a class="
			item ripple-e
			
			" href="../banners/">
					Banners
				</a>
				
				<a class="
			item ripple-e
			
			" href="../breadcrumbs/">
					Breadcrumbs
				</a>
				
				<a class="
			item ripple-e
			
			" href="../button-group/">
					Button group
				</a>
				
				<a class="
			item ripple-e
			active
			" href="./">
					Buttons
				</a>
				
				<a class="
			item ripple-e
			
			" href="../cards/">
					Cards
				</a>
				
				<a class="
			item ripple-e
			
			" href="../checkboxes/">
					Checkboxes
				</a>
				
				<a class="
			item ripple-e
			
			" href="../chips/">
					Chips
				</a>
				
				<a class="
			item ripple-e
			
			" href="../containers/">
					Containers
				</a>
				
				<a class="
			item ripple-e
			
			" href="../dialogs/">
					Dialogs
				</a>
				
				<a class="
			item ripple-e
			
			" href="../drawer/">
					Drawer
				</a>
				
				<a class="
			item ripple-e
			
			" href="../elevation/">
					Elevation
				</a>
				
				<a class="
			item ripple-e
			
			" href="../floating-action-button/">
					Floating action button
				</a>
				
				<a class="
			item ripple-e
			
			" href="../grid/">
					Grid
				</a>
				
				<a class="
			item ripple-e
			
			" href="../lists/">
					Lists
				</a>
				
				<a class="
			item ripple-e
			
			" href="../menu/">
					Menu
				</a>
				
				<a class="
			item ripple-e
			
			" href="../progress/">
					Progress
				</a>
				
				<a class="
			item ripple-e
			
			" href="../radio-buttons/">
					Radio buttons
				</a>
				
				<a class="
			item ripple-e
			
			" href="../ripple-effect/">
					Ripple effect
				</a>
				
				<a class="
			item ripple-e
			
			" href="../select-menus/">
					Select menus
				</a>
				
				<a class="
			item ripple-e
			
			" href="../sliders/">
					Sliders
				</a>
				
				<a class="
			item ripple-e
			
			" href="../snackbars/">
					Snackbars
				</a>
				
				<a class="
			item ripple-e
			
			" href="../switch/">
					Switch
				</a>
				
				<a class="
			item ripple-e
			
			" href="../tables/">
					Tables
				</a>
				
				<a class="
			item ripple-e
			
			" href="../tabs/">
					Tabs
				</a>
				
				<a class="
			item ripple-e
			
			" href="../textfields/">
					Textfields
				</a>
				
				<a class="
			item ripple-e
			
			" href="../tooltips/">
					Tooltips
				</a>
				
				<a class="
			item ripple-e
			
			" href="../typography/">
					Typography
				</a>
				
				<a class="
			item ripple-e
			
			" href="../utilities/">
					Utilities
				</a>
				
				 
				
			</div>
		</aside>
		<main class="col-8 col-lg-10">
			<div id="offers-content">
				<ins class="adsbygoogle" style="display:block" data-ad-format="fluid"
					data-ad-layout-key="-gs-3+1f-3d+2z" data-ad-client="ca-pub-8836219589547174"
					data-ad-slot="6464200648"></ins>
				<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<h1 class="display-h2 mb-0">Buttons </h1>
			<div class="row">
				<div class="col-9">
					
					
					
					<p><ins id="stable"></ins></p>
<h2 id="types">Types</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn primary">Normal</button>
    <button class="btn primary unelevated">Unelevated</button>
    <button class="btn outlined primary">Outlined</button>
    <button class="btn text primary">Text</button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn primary&quot;&gt;Normal&lt;/button&gt;
&lt;button class=&quot;btn primary unelevated&quot;&gt;Unelevated&lt;/button&gt;
&lt;button class=&quot;btn outlined primary&quot;&gt;Outlined&lt;/button&gt;
&lt;button class=&quot;btn text primary&quot;&gt;Text&lt;/button&gt;
</code></pre>
<h2 id="colors">Colors</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn">Normal</button>
    <button class="btn primary">Primary</button>
    <button class="btn secondary">Secondary</button>
    <button class="btn danger">Danger</button>
    <button class="btn warning">Warning</button>
    <button class="btn success">Success</button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn primary&quot;&gt;Normal&lt;/button&gt;
&lt;button class=&quot;btn primary unelevated&quot;&gt;Unelevated&lt;/button&gt;
&lt;button class=&quot;btn outlined primary&quot;&gt;Outlined&lt;/button&gt;
&lt;button class=&quot;btn text primary&quot;&gt;Text&lt;/button&gt;
</code></pre>
<h2 id="sizes">Sizes</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn small">Small</button>
    <button class="btn">Normal</button>
    <button class="btn large">Large</button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn small&quot;&gt;Small&lt;/button&gt;
&lt;button class=&quot;btn&quot;&gt;Normal&lt;/button&gt;
&lt;button class=&quot;btn large&quot;&gt;Large&lt;/button&gt;
</code></pre>
<h2 id="using-icons">Using Icons</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn primary">
        <i class="mdi me-2 mdi-thumb-up"></i>
        Like    
    </button>
    <button class="btn primary">
        Like    
        <i class="mdi ms-2 mdi-thumb-up"></i>
    </button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn primary&quot;&gt;
    &lt;i class=&quot;mdi me-2 mdi-thumb-up&quot;&gt;&lt;/i&gt;
    Like
&lt;/button&gt;
&lt;button class=&quot;btn primary&quot;&gt;
    Like
    &lt;i class=&quot;mdi ms-2 mdi-thumb-up&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
</code></pre>
<h2 id="disabled">Disabled</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn disabled" disabled>Disabled</button>
    <button class="btn outlined disabled" disabled>Disabled</button>
    <button class="btn text disabled" disabled>Disabled</button>
</div>
<p>Add the <code>disabled</code> attribute and the <code>disabled</code> class to the button to disable it.</p>
<pre><code>&lt;button class=&quot;btn disabled&quot; disabled&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn outlined disabled&quot; disabled&gt;Disabled&lt;/button&gt;
&lt;button class=&quot;btn text disabled&quot; disabled&gt;Disabled&lt;/button&gt;
</code></pre>
<h2 id="icon-buttons">Icon Buttons</h2>
<div class="p-4 m-1 bg-dark-1">
    <button class="icon">
        <i class="mdi mdi-thumb-up"></i>
    </button>
    <button class="icon">
        <i class="mdi mdi-thumb-down"></i>
    </button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;icon&quot;&gt;
    &lt;i class=&quot;mdi mdi-thumb-up&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
&lt;button class=&quot;icon&quot;&gt;
    &lt;i class=&quot;mdi mdi-thumb-down&quot;&gt;&lt;/i&gt;
&lt;/button&gt;
</code></pre>
<h2 id="interactive-examples">Interactive Examples</h2>
<p>You can use the button component to create stuff like this.</p>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn primary outlined">
    Loading Stuff
        <div style="transform:scale(0.3);height: 15px;width: 27px;margin-top: -15px;">
            <span class="progress circle" style="background:transparent;"></span>
        </div>
    </button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn primary outlined&quot;&gt;
    Loading Stuff
    &lt;div style=&quot;transform:scale(0.3);height: 15px;width: 27pxmargin-top: -15px;&quot;&gt;
        &lt;span class=&quot;progress circle&quot; style=&quot;background:transparent;&quot;&gt;&lt;span&gt;
    &lt;/div&gt;
&lt;/button&gt;
</code></pre>
<div class="p-4 m-1 bg-dark-1">
    <button class="btn outlined primary" style="outline-offset:-6px !important">
        Button
    </button>
</div>

<pre><code class="language-xml">&lt;button class=&quot;btn outlined primary&quot; style=&quot;outline-offset:-6px !important&quot;&gt;
    Button
&lt;/button&gt;
</code></pre>
				</div>
				<div class="col" id="table-of-contents">
					<a class="btn outlined small" href=https://github.com/Tronic247/material.tronic247.com/edit/main/docs/components/buttons.md>Edit this page</a>
					<a href="/advertising.html" class="p-4 btn mt-2 mb-2 rounded unelevated" style="display: block;">
						Your Ad here
					</a>
					<h6 class="display-h5 m-0 mt-4">Table of Contents</h6>
					
					
					<div class="list small">
						
						<a class="item" href="#types">Types</a>
						
						
						<a class="item" href="#colors">Colors</a>
						
						
						<a class="item" href="#sizes">Sizes</a>
						
						
						<a class="item" href="#using-icons">Using Icons</a>
						
						
						<a class="item" href="#disabled">Disabled</a>
						
						
						<a class="item" href="#icon-buttons">Icon Buttons</a>
						
						
						<a class="item" href="#interactive-examples">Interactive Examples</a>
						
						
					</div>
				</div>
			</div>
		</main>
	</div>
</article>
</div>


  <!-- Adsense ad -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8836219589547174" data-ad-slot="1318634450"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <!-- Adsense ad -->
  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8836219589547174" data-ad-slot="1318634450"
    data-ad-format="auto" data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <footer class="p-4 pt-0 bg-primary-5 color-dark-1">
    <div class="row">
      <a href="/advertising.html" class="p-4 btn outlined warning mt-2 mb-2 rounded unelevated" style="display: block;">
        Your Ad here
      </a>
      <div class="col">
        <h5 class="mt-2">People who supported this project</h5>
        <a href="https://github.com/tronic247/material-docs/graphs/contributors">
          <img src="https://contrib.rocks/image?repo=tronic247/material-docs" />
        </a>
        <br />
        <p>
          Want to be on this list ? Send a PR to this
          <a href="https://github.com/Tronic247/material" class="btn text p-0 warning" rel="follow">Github
            repository</a>
        </p>
        <p>
          Created by
          <a href="http://tronic247.com/?ref=material" class="btn text p-0 warning" rel="follow">Tronic247</a>
        </p>
      </div>
      <div class="col">
        <h5 class="mt-2">Problems or feature requests?</h5>
        <p>
          Join us on
          <a href="https://discord.gg/eKapYKj9u4" class="btn text p-0 warning">Discord</a>
          and start chatting ! Or else visit our
          <a href="https://github.com/Tronic247/material" class="btn text p-0 warning">Github Repository</a>
          and create an issue or send a Pull request.
        </p>
        <a href="https://www.producthunt.com/posts/tronic247-material?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-tronic247-material" target="_blank" class="mt-2"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=326205&theme=light" alt="Tronic247 Material - Material design UI framework for the web | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/gh/tronic247/material/dist/material.min.js"></script>
  <script src="../../script.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.1/build/highlight.min.js"></script>
  <script data-ad-client="ca-pub-8836219589547174" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@alpha"></script>
  <script>
    hljs.highlightAll();
    docsearch({
      container: '#docsearch',
      appId: 'ND5NCUL028',
      indexName: 'tronic_material',
      apiKey: '81f63feaa30dab637d7b75b90e2d0ebd',
      placeholder: 'Search for components',
    });
  </script>
</body>

</html>