#appbar {
    z-index: 999;
}
#table-of-contents {
    margin-top: -1px;
    margin-bottom: -1px;
    position: sticky;
    top: 60px;
    height: max-content;
}
pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;
}